In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [ ]:
pd.set_option('display.max_columns', None)
# Use seaborn API to set theme (avoids plt.style.use('seaborn') which may not exist in plt.style.available)
sns.set_theme(style="darkgrid")

In [13]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:lxx030327@localhost/mavenfuzzyfactory')

try:
    test_query = "SHOW TABLES"
    tables_df = pd.read_sql(test_query, engine)
    print("‚úÖ MySQL connected successfully!")
    print("üìä Tables in database:")
    print(tables_df)
except Exception as e:
    print(f"‚ùå Connection failed: {e}")
    print("üí° Check your password or use SQLite alternative below")

‚úÖ MySQL connected successfully!
üìä Tables in database:
  Tables_in_mavenfuzzyfactory
0          order_item_refunds
1                 order_items
2                      orders
3                    products
4           website_pageviews
5            website_sessions

In [ ]:
# load data from MySQL
sessions_df = pd.read_sql("SELECT * FROM website_sessions", engine)
orders_df = pd.read_sql("SELECT * FROM orders", engine)  
products_df = pd.read_sql("SELECT * FROM products", engine)
pageviews_df = pd.read_sql("SELECT * FROM website_pageviews", engine)

print("üìä Data Loading Summary:")
print(f"Sessions: {len(sessions_df):,} rows")
print(f"Orders: {len(orders_df):,} rows") 
print(f"Products: {len(products_df):,} rows")
print(f"Pageviews: {len(pageviews_df):,} rows")

# data overview (eg. sessions)
print("\nüîç Sessions Data Info:")
print(sessions_df.info())

üìä Data Loading Summary:
Sessions: 472,871 rows
Orders: 32,313 rows
Products: 4 rows
Pageviews: 1,188,124 rows

üîç Sessions Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472871 entries, 0 to 472870
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   website_session_id  472871 non-null  int64
 1   created_at          472871 non-null  datetime64[ns]
 2   user_id             472871 non-null  int64
 3   is_repeat_session   472871 non-null  int64
 4   utm_source          389543 non-null  object
 5   utm_campaign        389543 non-null  object
 6   utm_content         389543 non-null  object
 7   device_type         472871 non-null  object
 8   http_referer        432954 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 32.5+ MB
None

In [15]:
# data quality checks
def data_quality_check(df, table_name):
    """check data quality"""
    print(f"\nüìã {table_name} Data Quality:")
    print(f"Shape: {df.shape}")
    print(f"Missing values: {df.isnull().sum().sum()}")
    print(f"Duplicates: {df.duplicated().sum()}")
    
    if 'created_at' in df.columns:
        df['created_at'] = pd.to_datetime(df['created_at'])
        print(f"Date range: {df['created_at'].min()} to {df['created_at'].max()}")

# check all tables
for df, name in [(sessions_df, 'Sessions'), (orders_df, 'Orders'), 
                 (products_df, 'Products'), (pageviews_df, 'Pageviews')]:
    data_quality_check(df, name)

üìã Sessions Data Quality:
Shape: (472871, 9)
Missing values: 289901
Duplicates: 0
Date range: 2012-03-19 08:04:16 to 2015-03-19 07:59:08

üìã Orders Data Quality:
Shape: (32313, 8)
Missing values: 0
Duplicates: 0
Date range: 2012-03-19 10:42:46 to 2015-03-19 05:38:31

üìã Products Data Quality:
Shape: (4, 3)
Missing values: 0
Duplicates: 0
Date range: 2012-03-19 08:00:00 to 2014-02-05 10:00:00

üìã Pageviews Data Quality:
Shape: (1188124, 4)
Missing values: 0
Duplicates: 0
Date range: 2012-03-19 08:04:16 to 2015-03-19 07:59:32

In [ ]:
#pandas
# 1. data screening
recent_sessions = sessions_df[sessions_df['created_at'] >= '2015-01-01']

# 2. groupby aggregation (replace GROUP BY)
monthly_sessions = sessions_df.groupby([
    sessions_df['created_at'].dt.year,
    sessions_df['created_at'].dt.month
])['website_session_id'].nunique()

# 3. conditional aggregation (replace CASE WHEN)
channel_performance = sessions_df.groupby(['utm_source', 'utm_campaign']).agg({
    'website_session_id': 'count',
    'device_type': lambda x: (x == 'mobile').sum()  # ËÆ°ÁÆómobileÂç†ÊØî
})